     html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            -webkit-overflow-scrolling: touch;
        }
        
.tab-content.active{
    display: block;
    height: 100%;
}

.tab-content.hide{
    display: none;
}
